.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
}

#map-container {
  width: 80%;
}

#controls {
  width: 20%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3f2fd;
}

#datepick {
  margin-bottom: 10px;
}

.button {
  background-color: #36e8ff;
  color: #fff;
  border: solid 1px #1175e9;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #f0740e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.button:active {
  transform: translateY(0);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.download-buttons button {
  margin: 10px;
  padding: 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: thick double rgb(138, 39, 252);
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action-buttons button {
  padding: 5px;
  border: thick double black;
}